.error, .error-message{
    color:red;
}

input::placeholder{
    font-size: 16px;
    color: rgb(68, 67, 67);
}
.sign-text{
    background-color: blue !important;
    padding: 3px 0px !important;
}
.pass-text{
    background-color: green !important;
}

.user-note{
    font-size: 15px;
    font-weight: 500;

}
.custom-swal-popup {
    font-family: "Arial", sans-serif !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    width: 70%;
    font-size: 14px;
}
.swal-text {
    font-weight: bold;
    font-size: 13px;
}

@media (max-width:512px){
    input::placeholder{
        font-size: 13px;
        color: rgb(68, 67, 67);
    }
    .sign-text{
        font-size: 11px;
        background-color: blue;
        padding: 3px 0px !important;
    }
    .user-note{
        font-size: 12px;
    }
    .custom-swal-popup {
        font-family: "Arial", sans-serif !important;
        border-radius: 10px !important;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
        width: 100%;
        font-size: 12px;
    }
    .swal-text {
        font-weight: bold;
        font-size: 12px;
    }
}